/*---------------------Grilla*/
.option{
    padding: 10px;
    color : white;
    font-weight: bold;
}
/*--------------------------Footer section*/
.footer{
    display: flex;   
    background-color: black;
    align-items: center;
    justify-content: center;
}