<html>
    <body>
        <h2 style="color : red"> Hola mundo, mi primera plantilla con Django  </h2>
        <h3 style="color : blue"  >El que visita es: {{nombre_persona}} {{apellido_persona}} a las {{fecha_hora_actual.day}} / {{fecha_hora_actual.month}} / {{fecha_hora_actual.year}}</h3>
        
        <p><strong>Temas del curso</strong></p>
        <ul>
            {% if temas %}    
                {% for tema in temas %}
                    <li>{{ tema }}</li>
                {% endfor %}
            {%else%}
                <p>Los contenidos están vacíos</p>
            {%endif%}
            

        </ul>
    
    </body>
<html>